.wrapper{
    margin-top :1rem;
}

.grid-img{
    width: 100%;
    object-fit: cover;
    height: 150px; 
    border-radius: 4px;
}

.grid-modal-img{
    width: auto;
    object-fit: cover;
    height: auto;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.wrapper .g-4{
margin: 0;
}
.header{
    margin-left: 12px;
    display: flex;
}
 /* cards */
 .card{
    border-radius: 10px;
    background: linear-gradient(132deg, rgb(210, 209, 223) 0%, rgb(193 193 208) 0%, rgb(219 249 255) 100%);
    box-shadow: 10px 10px 15px -15px rgba(0,0,0,0.62);  
 }

 .card-body{
    padding: 3px 0px;
    
}
 
  .content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    pointer-events: none;
    transition: all 0.4s;
   
  }
  .card-text{
    text-align: center;
  }
  .card-hghlght {
    pointer-events: auto;
    transform: scale(1);
    transition: all 0.4s;
  }
  
  .card-hghlght:hover {
    opacity: 1;
    transform: scale(1.02);
  }
  
  .content:hover .card-hghlght:not(:hover) {
    opacity: 0.5;
    transform: scale(0.9);
  }